/* * {
    padding: 0px;
    margin: 0px;
}
.sectionform {
    margin-top: 30px;
    border: solid 1px gray;
}
ul,li {
    list-style: none;
}
h6 {
    background-color: turquoise;
    padding: 10px;
    text-align: center;
    border-bottom: gray 1px solid;
}
.searchbtn {
    border: gray 1px solid;
    border-radius: 16px;
}
.btnn {
    margin-top: 16px;
    padding: 0 4px;
}
.btnnobdr {
    border: none;
} */