* {
    padding: 0px;
    margin: 0px;
}
@media only screen and (min-width: 1200px)
{
    nav,ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
li {
    padding: 8px;
    padding-top: 16px;
    list-style-type: none;
}
.sectionform {
    margin: 40px 4%;
    width: 60%;
    max-width: 1000px;
    min-width: 500px;
}
.formmain {
    width: 80%;
    border: 1px solid grey;
}
h6 {
    text-align: center;
    padding: 12px 16px;
    background-color: lightblue;
}
.btnnobdr {
    border: none;
    margin-left: 16px;
}
.searchbtn {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 4px 8px 4px 8px;
    border: 1px solid gray;
    border-radius: 24px;
}
.refresh {
    margin-top: 10px;
    font-size: 35px;
}
.paddingleft {
    margin-left: 8%;
}
button {
    border: none;
}
.form {
    background-color: pink;
    border: ridge 1px grey;
}
input,label {
    padding: 4px 0 0 4px;
}
.align-blue {
    text-align: center;
}
.bluesubmit {
    background-color: blue;
    color: white;
    border: solid blue;
    border-radius: 20px;
    height: 50px;
    margin: auto;
}
.footer {
    margin: 0px;
    padding-left: 8%;
    background-color: blueviolet;
}
.foter {
    padding: 0px;
    margin: 0px;
    color: white;
}
}